<!DOCTYPE html>
<html>
    <head>
        <title>
            Button to run script
        </title>
    
    </head>
    <body>
        <form action = "/external" method = "post">
            {% csrf_token %}
            Input File Location
            <input type ="text" name = "param" required><br><br>
            {{data_external}}<br><br>
            <input type ="submit" value="Update Location">
            <br><br>
            {% if data1 %}
            <pre>{{data1|linebreaks}}</pre>
            {% endif %}
            <br><br>
            
        </form>

    </body>

</html>
